.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: white;
}

/* bowling score board*/
.scoreBoard {
  margin: 10px;
}
.frame {
	display: inline-block;
    width: 100px;
    height: 50px;
    border: 1px solid #464646;
    border-right: none;
    margin: 0;
}
.frame:last-child {
  border-right: 1px solid #464646;
}
.frame  p {
	padding: 2px 0;
    margin: 0;
    text-align: center;
    background: rgb(76,175,80);
    color: white;
    border-bottom: 1px solid black;
}